syntax: glob

.DS_Store
*.o
*.bin
*.elf
*.map
*/build/*
*.pyc
libraries/readme.txt
libraries/OpenLog/LOG00092.TXT
libraries/OpenLog/LOG00093.TXT
libraries/OpenLog/LOG00094.TXT
libraries/OpenLog/LOG00095.TXT
libraries/OpenLog/LOG00096.TXT
libraries/OpenLog/LOG00097.TXT
libraries/OpenLog/LOG00098.TXT
libraries/OpenLog/LOG00099.TXT
libraries/OpenLog/LOG00100.TXT
libraries/OpenLog/LOG00101.TXT
libraries/OpenLog/LOG00102.TXT
libraries/OpenLog/LOG00103.TXT
libraries/OpenLog/LOG00104.TXT
libraries/OpenLog/LOG00105.TXT
libraries/OpenLog/LOG00106.TXT
libraries/OpenLog/LOG05244.TXT
libraries/OpenLog/LOG05251.TXT
libraries/OpenLog/LOG05291.TXT
libraries/OpenLog/LOG05292.TXT
libraries/OpenLog/LOG05293.TXT
libraries/OpenLog/LOG05326.TXT
libraries/OpenLog/LOG05598.TXT
libraries/OpenLog/LOG05955.TXT
libraries/OpenLog/LOG05956.TXT
libraries/OpenLog/LOG05957.TXT
libraries/OpenLog/LOG05958.TXT
libraries/OpenLog/LOG05959.TXT
libraries/OpenLog/LOG05960.TXT
libraries/OpenLog/LOG05961.TXT
libraries/OpenLog/LOG05962.TXT
libraries/OpenLog/LOG05963.TXT
libraries/OpenLog/LOG05964.TXT
libraries/OpenLog/LOG05965.TXT
libraries/OpenLog/LOG05966.TXT
libraries/OpenLog/LOG05967.TXT
libraries/OpenLog/LOG05969.TXT
libraries/OpenLog/LOG05970.TXT
libraries/OpenLog/LOG05971.TXT
libraries/OpenLog/LOG05973.TXT
libraries/OpenLog/LOG05974.TXT
libraries/OpenLog/LOG05997.TXT
libraries/OpenLog/LOG05998.TXT
libraries/OpenLog/LOG05999.TXT
libraries/OpenLog/LOG06000.TXT
libraries/OpenLog/LOG06001.TXT
libraries/OpenLog/LOG07284.TXT
libraries/OpenLog/LOG07285.TXT
libraries/OpenLog/LOG07286.TXT
libraries/OpenLog/LOG07287.TXT
libraries/OpenLog/LOG07288.TXT
libraries/OpenLog/LOG07289.TXT
libraries/OpenLog/LOG07290.TXT
libraries/OpenLog/LOG07291.TXT
libraries/OpenLog/LOG07292.TXT
libraries/OpenLog/LOG07293.TXT
libraries/OpenLog/LOG07294.TXT
libraries/OpenLog/LOG07295.TXT
libraries/OpenLog/LOG07296.TXT
libraries/OpenLog/LOG07297.TXT
libraries/OpenLog/LOG07298.TXT
libraries/OpenLog/LOG07299.TXT
libraries/OpenLog/LOG07300.TXT
libraries/OpenLog/LOG07301.TXT
libraries/OpenLog/LOG07302.TXT
libraries/OpenLog/LOG07303.TXT
libraries/OpenLog/LOG07304.TXT
libraries/OpenLog/LOG07305.TXT
libraries/OpenLog/LOG07306.TXT
libraries/OpenLog/LOG07307.TXT
libraries/OpenLog/LOG07308.TXT
libraries/OpenLog/LOG07309.TXT
libraries/OpenLog/LOG07310.TXT
libraries/OpenLog/LOG07311.TXT
libraries/OpenLog/LOG07312.TXT
libraries/OpenLog/LOG07313.TXT
libraries/OpenLog/LOG07314.TXT
libraries/OpenLog/LOG07315.TXT
libraries/OpenLog/LOG07316.TXT
libraries/OpenLog/LOG07317.TXT
libraries/OpenLog/LOG07318.TXT
libraries/OpenLog/LOG07319.TXT
libraries/OpenLog/LOG07320.TXT
libraries/OpenLog/LOG07321.TXT
libraries/OpenLog/LOG07322.TXT
libraries/OpenLog/LOG07323.TXT
libraries/OpenLog/LOG07324.TXT
libraries/OpenLog/LOG07325.TXT
libraries/OpenLog/LOG07326.TXT
libraries/OpenLog/LOG07327.TXT
libraries/OpenLog/LOG07328.TXT
libraries/OpenLog/LOG07329.TXT
libraries/OpenLog/LOG07330.TXT
libraries/OpenLog/LOG07331.TXT
libraries/OpenLog/LOG07332.TXT
libraries/OpenLog/LOG07333.TXT
libraries/OpenLog/LOG07334.TXT
libraries/OpenLog/LOG07335.TXT
libraries/OpenLog/LOG07336.TXT
libraries/OpenLog/LOG07337.TXT
libraries/OpenLog/LOG07338.TXT
libraries/OpenLog/LOG07339.TXT
libraries/OpenLog/LOG07340.TXT
libraries/OpenLog/LOG07341.TXT
libraries/OpenLog/LOG07342.TXT
libraries/OpenLog/LOG07343.TXT
libraries/OpenLog/LOG07344.TXT
libraries/OpenLog/LOG07345.TXT
libraries/OpenLog/LOG07346.TXT
libraries/OpenLog/LOG07347.TXT
libraries/OpenLog/LOG07348.TXT
libraries/OpenLog/LOG07349.TXT
libraries/OpenLog/LOG07350.TXT
libraries/OpenLog/LOG07351.TXT
libraries/OpenLog/LOG07352.TXT
libraries/OpenLog/LOG07353.TXT
libraries/OpenLog/LOG07354.TXT
libraries/OpenLog/LOG07355.TXT
libraries/OpenLog/LOG07356.TXT
libraries/OpenLog/LOG07357.TXT
libraries/OpenLog/LOG07358.TXT
libraries/OpenLog/LOG07359.TXT
libraries/OpenLog/LOG07360.TXT
libraries/OpenLog/LOG07361.TXT
libraries/OpenLog/LOG07362.TXT
libraries/OpenLog/LOG07363.TXT
libraries/OpenLog/LOG07364.TXT
libraries/OpenLog/LOG07365.TXT
libraries/OpenLog/LOG07366.TXT
libraries/OpenLog/LOG07367.TXT
libraries/OpenLog/LOG07368.TXT
libraries/OpenLog/LOG07372.TXT
libraries/OpenLog/LOG07374.TXT
libraries/OpenLog/LOG07375.TXT
libraries/OpenLog/LOG07378.TXT
libraries/OpenLog/LOG07379.TXT
libraries/OpenLog/LOG07948.TXT
libraries/OpenLog/LOG07950.TXT
libraries/OpenLog/LOG07952.TXT
libraries/OpenLog/LOG07953.TXT
libraries/OpenLog/LOG07955.TXT
libraries/OpenLog/LOG07957.TXT
libraries/OpenLog/LOG07964.TXT
libraries/OpenLog/LOG07966.TXT
libraries/OpenLog/LOG07967.TXT
libraries/OpenLog/LOG08370.TXT
libraries/OpenLog/LOG08387.TXT
libraries/OpenLog/LOG08460.TXT
libraries/OpenLog/LOG08461.TXT
libraries/OpenLog/LOG08463.TXT
libraries/OpenLog/LOG08464.TXT
libraries/OpenLog/LOG08466.TXT
libraries/OpenLog/LOG08467.TXT
libraries/OpenLog/LOG08469.TXT
libraries/OpenLog/LOG08490.TXT
libraries/OpenLog/LOG08515.TXT
libraries/OpenLog/LOG08516.TXT
libraries/OpenLog/LOG08731.TXT
libraries/OpenLog/LOG08732.TXT
libraries/OpenLog/LOG08733.TXT
libraries/OpenLog/LOG08734.TXT
libraries/OpenLog/LOG08741.TXT
libraries/OpenLog/LOG08742.TXT
libraries/OpenLog/LOG08756.TXT
libraries/OpenLog/LOG08757.TXT
libraries/OpenLog/LOG08758.TXT
libraries/OpenLog/LOG08759.TXT
libraries/OpenLog/LOG08959.TXT
libraries/OpenLog/LOG08960.TXT
libraries/OpenLog/LOG08961.TXT
libraries/OpenLog/LOG08962.TXT
libraries/OpenLog/hopData.pdf
libraries/OpenLog/hopData.png
libraries/OpenLog/leg2.m
libraries/OpenLog/viewlog.py
libraries/SdFat/src/SdSpiCard/SoftSPI.h
libraries/OpenLog/LOG00002.TXT
libraries/OpenLog/LOG00030.TXT
libraries/OpenLog/LOG00031.TXT
libraries/OpenLog/LOG00033.TXT
libraries/OpenLog/LOG00034.TXT
libraries/OpenLog/LOG00035.TXT
libraries/OpenLog/LOG00036.TXT
libraries/OpenLog/LOG00037.TXT
libraries/OpenLog/LOG00070.TXT
libraries/OpenLog/LOG00109.TXT
libraries/OpenLog/LOG00111.TXT
libraries/OpenLog/LOG00374.TXT
libraries/OpenLog/LOG00411.TXT
libraries/OpenLog/LOG00426.TXT
libraries/OpenLog/LOG00428.TXT
libraries/OpenLog/LOG00429.TXT
libraries/OpenLog/LOG00430.TXT
libraries/OpenLog/LOG00431.TXT
libraries/OpenLog/LOG00432.TXT
libraries/OpenLog/LOG00433.TXT
libraries/OpenLog/LOG03330.TXT
libraries/OpenLog/LOG09092.TXT
libraries/OpenLog/LOG09097.TXT
libraries/OpenLog/LOG09100.TXT
libraries/OpenLog/LOG09102.TXT
libraries/OpenLog/LOG09103.TXT
libraries/OpenLog/LOG09104.TXT
libraries/OpenLog/LOG09107.TXT
libraries/OpenLog/LOG09229.TXT
libraries/OpenLog/LOG09231.TXT
libraries/OpenLog/LOG09232.TXT
libraries/OpenLog/LOG09236.TXT
libraries/OpenLog/LOG09240.TXT
libraries/OpenLog/LOG09262.TXT
libraries/OpenLog/LOG09263.TXT
libraries/OpenLog/LOG09274.TXT
libraries/OpenLog/LOG09478.TXT
libraries/OpenLog/LOG09490.TXT
libraries/OpenLog/LOG09514.TXT
libraries/OpenLog/LOG09535.TXT
libraries/OpenLog/LOG09537.TXT
libraries/OpenLog/LOG09538.TXT
libraries/OpenLog/LOG09539.TXT
libraries/OpenLog/LOG09540.TXT
libraries/OpenLog/LOG09543.TXT
libraries/OpenLog/LOG09821.TXT
libraries/SdFat/MainPage/SdFatmainpage.h
libraries/SdFat/examples/#attic/AnalogLogger/AnalogLogger.ino
libraries/SdFat/examples/#attic/BaseExtCaseTest/BaseExtCaseTest.ino
libraries/SdFat/examples/#attic/HelloWorld/HelloWorld.ino
libraries/SdFat/examples/#attic/MiniSerial/MiniSerial.ino
libraries/SdFat/examples/#attic/PrintBenchmarkSD/PrintBenchmarkSD.ino
libraries/SdFat/examples/#attic/SD_Size/SD_Size.ino
libraries/SdFat/examples/#attic/SdFatSize/SdFatSize.ino
libraries/SdFat/examples/#attic/append/append.ino
libraries/SdFat/examples/#attic/average/average.ino
libraries/SdFat/examples/#attic/benchSD/benchSD.ino
libraries/SdFat/examples/#attic/bufstream/bufstream.ino
libraries/SdFat/examples/#attic/eventlog/eventlog.ino
libraries/SdFat/examples/#attic/fgetsRewrite/fgetsRewrite.ino
libraries/SdFat/examples/#attic/readlog/readlog.ino
libraries/SdFat/examples/#attic/readme.txt
libraries/SdFat/examples/AnalogBinLogger/AnalogBinLogger.h
libraries/SdFat/examples/AnalogBinLogger/AnalogBinLogger.ino
libraries/SdFat/examples/LongFileName/LongFileName.ino
libraries/SdFat/examples/LongFileName/testFiles/A long name can be 255 characters.txt
libraries/SdFat/examples/LongFileName/testFiles/LFN,NAME.TXT
libraries/SdFat/examples/LongFileName/testFiles/MIXCASE.txt
libraries/SdFat/examples/LongFileName/testFiles/Not_8_3.txt
libraries/SdFat/examples/LongFileName/testFiles/OK%83.TXT
libraries/SdFat/examples/LongFileName/testFiles/STD_8_3.TXT
libraries/SdFat/examples/LongFileName/testFiles/With Blank.txt
libraries/SdFat/examples/LongFileName/testFiles/With.Two dots.txt
libraries/SdFat/examples/LongFileName/testFiles/lower.txt
libraries/SdFat/examples/LongFileName/testFiles/mixed.TXT
libraries/SdFat/examples/LowLatencyLogger/LowLatencyLogger.ino
libraries/SdFat/examples/LowLatencyLogger/UserDataType.h
libraries/SdFat/examples/OpenNext/OpenNext.ino
libraries/SdFat/examples/PrintBenchmark/PrintBenchmark.ino
libraries/SdFat/examples/QuickStart/QuickStart.ino
libraries/SdFat/examples/RawWrite/RawWrite.ino
libraries/SdFat/examples/ReadWrite/ReadWrite.ino
libraries/SdFat/examples/ReadWriteSdFat/ReadWriteSdFat.ino
libraries/SdFat/examples/SdFormatter/SdFormatter.ino
libraries/SdFat/examples/SdInfo/SdInfo.ino
libraries/SdFat/examples/SoftwareSpi/SoftwareSpi.ino
libraries/SdFat/examples/StdioBench/StdioBench.ino
libraries/SdFat/examples/StreamParseInt/StreamParseInt.ino
libraries/SdFat/examples/ThreeCards/ThreeCards.ino
libraries/SdFat/examples/Timestamp/Timestamp.ino
libraries/SdFat/examples/TwoCards/TwoCards.ino
libraries/SdFat/examples/VolumeFreeSpace/VolumeFreeSpace.ino
libraries/SdFat/examples/bench/bench.ino
libraries/SdFat/examples/cin_cout/cin_cout.ino
libraries/SdFat/examples/dataLogger/dataLogger.ino
libraries/SdFat/examples/directoryFunctions/directoryFunctions.ino
libraries/SdFat/examples/fgets/fgets.ino
libraries/SdFat/examples/formatting/formatting.ino
libraries/SdFat/examples/getline/getline.ino
libraries/SdFat/examples/readCSV/readCSV.ino
libraries/SdFat/examples/rename/rename.ino
libraries/SdFat/library.properties
libraries/SdFat/readme.md
libraries/SdFat/src/Deprecated/SdVolume.h
libraries/SdFat/src/FatLib/ArduinoFiles.h
libraries/SdFat/src/FatLib/ArduinoStream.h
libraries/SdFat/src/FatLib/FatApiConstants.h
libraries/SdFat/src/FatLib/FatFile.cpp
libraries/SdFat/src/FatLib/FatFile.h
libraries/SdFat/src/FatLib/FatFileLFN.cpp
libraries/SdFat/src/FatLib/FatFilePrint.cpp
libraries/SdFat/src/FatLib/FatFileSFN.cpp
libraries/SdFat/src/FatLib/FatFileSystem.h
libraries/SdFat/src/FatLib/FatLib.h
libraries/SdFat/src/FatLib/FatLibConfig.h
libraries/SdFat/src/FatLib/FatStructs.h
libraries/SdFat/src/FatLib/FatVolume.cpp
libraries/SdFat/src/FatLib/FatVolume.h
libraries/SdFat/src/FatLib/FmtNumber.cpp
libraries/SdFat/src/FatLib/FmtNumber.h
libraries/SdFat/src/FatLib/StdioStream.cpp
libraries/SdFat/src/FatLib/StdioStream.h
libraries/SdFat/src/FatLib/bufstream.h
libraries/SdFat/src/FatLib/fstream.cpp
libraries/SdFat/src/FatLib/fstream.h
libraries/SdFat/src/FatLib/ios.h
libraries/SdFat/src/FatLib/iostream.h
libraries/SdFat/src/FatLib/istream.cpp
libraries/SdFat/src/FatLib/istream.h
libraries/SdFat/src/FatLib/ostream.cpp
libraries/SdFat/src/FatLib/ostream.h
libraries/SdFat/src/FreeStack.h
libraries/SdFat/src/MinimumSerial.cpp
libraries/SdFat/src/MinimumSerial.h
libraries/SdFat/src/SdFat.cpp
libraries/SdFat/src/SdFat.h
libraries/SdFat/src/SdFatConfig.h
libraries/SdFat/src/SdFatUtil.cpp
libraries/SdFat/src/SdFatUtil.h
libraries/SdFat/src/SdSpiCard/DigitalPin.h
libraries/SdFat/src/SdSpiCard/SdInfo.h
libraries/SdFat/src/SdSpiCard/SdSpi.h
libraries/SdFat/src/SdSpiCard/SdSpiCard.cpp
libraries/SdFat/src/SdSpiCard/SdSpiCard.h
libraries/SdFat/src/SdSpiCard/SdSpiSAM3X.cpp
libraries/SdFat/src/SdSpiCard/SdSpiSTM32F1.cpp
libraries/SdFat/src/SdSpiCard/SdSpiTeensy3.cpp
